header {
  background-color: #1d256f;
}

img {
  width: 400px;
  margin-left: 150px;
  border-radius: 2px;
}

h1 {
  margin-left: 150px;
}

#sobrenos {
  margin-left: 150px;
}

h1 {
  font-family: Ubuntu;
  color: #ff1616;
  font-size: 25px;
  margin-top:50px;
}

p {
  font-family: Hammersmith One;
  text-align: justify;
  margin-top: 30px;
}

section {
  background-color: #1d256f;
}

ul {
    margin-top: 70px;
}

li {
  list-style: none;
  font-family: Hammersmith One;
  padding: 16px;
  margin: 25px 110px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #ff1616;
  border-radius: 6px;
  color:white;
  text-align: center;
}

